* {
	col-despliegue:#00ABEB;  
}
.imagen-perfil {
	-fx-fill: col-despliegue;
}
.despliegue-perfil {
	-fx-background-color: col-despliegue;
}
.despliegue-perfil:hover, .despliegue-perfil:hover  .imagen-perfil {
	col-despliegue: #008ec4;
}
.menu-button:hover .button-fill {
	-fx-opacity: 1;
	-fx-stroke: #cceefb;
}
.menu-button:hover .button-unfill {
	-fx-opacity: 0;
}
